
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ion-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

router-outlet + * {
  display: block;
  height: 100vh;
  width: 100vw;
}